.contact-header {
    padding: 32px 0;
    text-align: center;
    margin: auto;
    max-width: 916px;
}

.contact-header::after {
    content: "";
    display: block;
    clear: both;
}

.contact-header-nav {
    list-style-type: none;
}
.contact-header-nav li {
    display: inline-block;
    line-height: 20px;
}

.contact-header-nav li:nth-child(2) {
    margin: 0 50px 0 50px;
}

.left {
    float: left;
}

.right {
    float: right;
}
